{% extends 'index.html' %}

{% load static %}

{% block title %}

<title>Question Categories</title>

{% endblock title %}



{% block content %}

    <div class="d-flex h-100 align-items-center justify-content-center">
        <div class="container">
            
            <div class="card bg-transperent shadow my-3">
                <div class="row">
                    {% for page in paginator.page_range %}
                    <a href="{% url 'questions' category %}?page={{page}}" 
                        class="col-md-6 col-12 nav-link px-4 w-100">
                        <div class="text-light fs-2 fw-bold">
                            Question Paper {{page}}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>

{% endblock content %}
